# Игнорировать папки сборки
/target/
/**/target/

# Игнорировать IDE файлы
/.idea/
/*.iml
/*.ipr
/*.iws

# Игнорировать системные файлы
.DS_Store
Thumbs.db

# Игнорировать Maven вспомогательные файлы
.mvn/wrapper/maven-wrapper.jar

# Игнорировать логи
*.log

# Игнорировать файлы настройки ОС
*.swp
*.swo
